@import url('../../../proprietary/style/font.css');

:root {
  --main-background: #efefef;
  --text-color: #000;
  --borderline-color: #ddd8;
  --opened-tab-color: #bbb8;

  --border-color-unhover: #ddd0;
  --border-color: #ddd8;
  --shadow-color: #bfbfbf55;
  --shadow-color-unhover: #0000;
  --backgroundcolor-unhover: #efefef00;
  --backgroundcolor: #eee8;
  --input-color-unhover: #efefef44;
  --closebutton-color: #fff4;
  --loading-color: #8888;

  --wallpaper: none;
  --wallpaper-brightness: brightness(100%);
}

* {
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  color: var(--text-color);
  text-decoration: none;
  z-index: 100;
}
::-webkit-scrollbar {
  display: none;
}
script, style {
  display: none!important;
  width: 0; height: 0;
}

body::before {
  content: '';
  display: block;
  position: fixed;
  top: -10px;
  left: -10px;
  right: -20px;
  bottom: -1px;
  width: 120vw;
  backdrop-filter: blur(15px);
  border-bottom: 1px solid var(--borderline-color);
  background-color: #efefef44;
}
body {
  background-color: var(--main-background);
  -webkit-app-region: drag;
  user-select: none;
  padding-bottom: 0;
  margin: 1.5px;
  margin-bottom: 0;
  height: auto;
  overflow: hidden;
  background-image: var(--wallpaper);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
nav {
  display: flex;
  position: relative;
  height: auto;
  width: 100%;
  transition: all 0.4s cubic-bezier(.7, 0, .3, 1);
  z-index: 0;
}
#window-btn {
  -webkit-app-region: drag;
  min-width: 130px;
  max-width: 130px;
}
.thin #window-btn {
  min-width: 0;
  width: 0;
}
body nav > * {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: none;
  box-shadow: 0 0 0 var(--shadow-color-unhover);
  position: relative;
  top: 0;
  display: inline-block;
  border-radius: 10px;
  height: 23px;
  aspect-ratio: 1/1;
  margin: 3px;
  background-color: var(--backgroundcolor-unhover);
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--border-color-unhover);
  z-index: +1;
}
body input {
  -webkit-user-drag: initial;
  width: 100%;
  padding: 0 7.5px;
  font-size: 11px;
  background-color: var(--input-color-unhover);
  color: var(--text-color);
  backdrop-filter: brightness(85%);
}
body nav *:hover:not(#window-btn),
div > span:hover,
tab-el > a:hover,
body nav input:focus {
  box-shadow: 1px 1px 5px var(--shadow-color);
  background-color: var(--backgroundcolor);
  border: 1px solid var(--border-color);
}
body nav *:first-child {
  margin-left: 30px;
}
body nav *:last-child {
  margin-right: 4px;
}
nav a {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 65%;
  cursor: default;
}
nav a:active {
  background-color: var(--backgroundcolor-unhover);
  box-shadow: 0 0 0 var(--shadow-color-unhover);
}
.mac:not(.full) #window-btn,
.thin.mac:not(.full) #window-btn {
  min-width: 30px;
  max-width: 30px;
  -webkit-app-region: drag;
}
.mac.full #window-btn,
.thin.mac.full #window-btn {
  min-width: 0;
  max-width: 0;
  margin-left: 0;
}
#home {
  background-image: url('../../../image/home.png');
}
#reload {
  background-image: url('../../../image/reload.png');
}
#prev {
  background-image: url('../../../image/back.png');
}
#menu {
  background-image: url('../../../image/option.png');
}
#next {
  background-image: url('../../../image/prev.png');
}
#move {
  background-image: url('../../../image/go.png');
}
#minimize {
  background-image: url('../../../image/hide.png');
}
#maximize {
  background-image: url('../../../image/maximize.png');
}
#close {
  background-image: url('../../../image/close.png');
}

div > span > p:first-child {
  color: var(--text-color);
  font-weight: 100;
  cursor: default;
  display: inline-block;
  width: 10%;
  overflow: hidden;
}
div > span > p:last-child {
  display: inline-block;
  cursor: default;
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translate(0, -50%);
  width: 17px; height: 17px;
  font-size: 12px;
  border-radius: 7px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 65%;
  background-image: url('../../../image/close.png');
  transition: all 0.2s ease-in-out;
}
div > span > p:last-child:hover {
  background-color: var(--closebutton-color);
}
div > span > img {
  display: inline-block;
  float: left;
  height: 100%;
  aspect-ratio: 1/1;
  margin-right: 5px;
}
div > span#opened {
  background-color: var(--opened-tab-color);
  color: var(--text-color);
  backdrop-filter: brightness(120%);
}
tab-el {
  vertical-align: middle;
  display: flex;
  overflow: hidden;
  height: 32.5px;
}
tab-el * {
  -webkit-user-drag: none;
  overflow: hidden;
}
tab-el > div {
  width: 100%;
  overflow: auto;
  display: flex;
  margin-left: 5px;
}
tab-el > div > span {
  min-width: 70px;
	text-overflow: ellipsis;
	white-space: nowrap;
  padding-right: 20px;
  padding-left: 5px;
  width: 100%;
  margin: 3px 2px 5px 1px;
  text-align: center;
  padding: 2px;
  padding-right: 15px;
  font-size: 12px;
  border-radius: 10px;
  border: 1px solid var(--border-color-unhover);
  transition: all 0.2s ease-in-out;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -webkit-user-drag: element;
  -webkit-app-region: none;
}
tab-el > div > span > * {
  opacity: 1;
}
tab-el span.fixed {
  width: 7px!important;
  min-width: 0!important;
  aspect-ratio : 1/1;
}
tab-el span.fixed > *:not(img) {
  opacity: 0;
  display: none!important;
}
tab-el > a {
  display: block;
  height: 24px;
  width: 24px;
  margin: 3px;
  aspect-ratio: 1/1;
  background-image: url('../../../image/plus.png');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-color: var(--backgroundcolor-unhover);
  box-shadow: 1px 1px 5px var(--shadow-color-unhover);
  border: 1px solid var(--border-color-unhover);
  transition: all 0.2s ease-in-out;
  -webkit-app-region: none;
  cursor: default;
}
yomikomi-bar {
  display: block;
  position: absolute;
  top: -1px;
  bottom: 0;
  left: -9px;
  width: 0;
  height: 10px;
  background-color: var(--loading-color);
  z-index: 0;
  filter: blur(5px) var(--wallpaper-brightness);
  border-radius: 0 5px 0 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
yomikomi-bar#loading {
  width: 30vw;
  opacity: 1;
}
yomikomi-bar#loaded {
  width: 100vw;
  opacity: 1;
}

.thin {
  display: flex;
  height: 25px;
  padding-top: 2px;
  padding: 1px;
}
.thin nav {
  z-index: 9999;
  width: 500px;
  min-width: 500px;
}
.thin nav .window {
  position: fixed;
  margin: 1px;
  top: 3px;
}
.thin .window#close {
  right: 0;
}
.thin .window#maximize {
  right: 22px;
}
.thin .window#minimize {
  right: 44px;
}
.thin .window#menu {
  right: 140px;
}
.thin nav * {
  height: 20px;
  margin: 1px;
}
.thin tab-el {
  width: 100%;
  height: 25px;
  padding-right: 85px;
  left: 5px;
  flex-direction: row-reverse;
}
.thin tab-el div span {
  display: flex;
  width: min-content;
  margin: 0 2px;
  padding-right: 20px;
  max-width: 50vw;
}
.thin span.fixed {
  width: 2px!important;
}
.thin span > p {
  overflow: hidden;
}
.thin tab-el > a {
  height: 20px;
  width: 20px;
  margin: 1px;
}

@media (max-width: 700px) {
  .thin nav {
    width: 230px;
    min-width: 230px;
  }
  .thin nav:is(:focus-within, :hover) {
    width: 2000px;
  }
}

@media (prefers-color-scheme: dark)  {
  :root {
    --main-background: #222;
    --text-color: #fff;
    --borderline-color: #3338;
    --opened-tab-color: #fff1;

    --border-color-unhover: #ddd0;
    --border-color: #666e;
    --shadow-color: #bfbfbf55;
    --shadow-color-unhover: #0000;
    --backgroundcolor-unhover: #ccc0;
    --backgroundcolor: #4448;
    --input-color-unhover: #fff1;
    --closebutton-color: #fff4;
    --loading-color: #444c;

    --wallpaper-brightness: brightness(80%);
  }
  #home {
    background-image: url('../../../image/home-white.png');
  }
  #reload {
    background-image: url('../../../image/reload-white.png');
  }
  #prev {
    background-image: url('../../../image/back-white.png');
  }
  #menu {
    background-image: url('../../../image/option-white.png');
  }
  #next {
    background-image: url('../../../image/prev-white.png');
  }
  #move {
    background-image: url('../../../image/go-white.png');
  }
  #minimize {
    background-image: url('../../../image/hide-white.png');
  }
  #maximize {
    background-image: url('../../../image/maximize-white.png');
  }
  #close {
    background-image: url('../../../image/close-white.png');
  }
  div > span > p:last-child {
    background-image: url('../../../image/close-white.png');
  }
  tab-el > a {
    background-image: url('../../../image/plus-white.png');
  }
  body::before {
    background-color: #2222;
  }
}
