body nav a:first-child{
  margin-left: 4px;
}
body nav a:last-child{
  margin-right: 30px;
}
:not(.full) #window-btn,
.thin:not(.full) #window-btn {
  min-width: 30px;
  max-width: 30px;
}
.full #window-btn,
.thin.full #window-btn {
  min-width: 0;
  max-width: 0;
  margin-left: 0;
}
.thin tab-el {
  padding-right: 30px;
}
.thin .window#menu {
  right: 1px;
}
