:root {
  --main-background: #efefef;
  --text-color: #000;
  --shadow-color: #bfbfbf99;
  --shadow-color-unhover: #0000;
  --borderline-color: #ddd8;
  --border-color: #ddde;
  --border-color-unhover: #4440;
  --backgroundcolor: #eee9;
  --input-color-unhover: #bbb3;
  --input-color: #efefef;
}

* {
  position: relative;
  color: var(--text-color);
  margin: 0;
  outline: none;
}
body {
  margin: 10px 20px;
  margin-top: 60px;
  width: auto;
  height: auto;
  background-color: var(--main-background);
}
b {
  font-size: 1.1rem;
}
h1::before {
  display: none;
}
h1 {
  font-weight: 800;
  font-size: 30px;
}
h2 {
  font-weight: 700;
  font-size: 30px;
}
h3 {
  font-size: 25px;
  font-weight: 600;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9990;
  backdrop-filter: blur(10px);
  padding: 10px;
  padding-left: 20px;
}

main > div {
  display: block;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border-color);
}
strong {
  font-weight: 900;
}

#appearance > * {
  margin: 4px 0;
  padding: 4px 0;
}

#ui a img {
  width: 20vw;
  min-width: 300px;
  border: 1px solid #0000;
  border-radius: 15px;
  transition: all 0.4s ease-in-out;
}
#ui a.selected img {
  border: 1px solid var(--borderline-color);
  box-shadow: 0 0 15px var(--shadow-color);
}

#engine > select {
  width: 160px;
}
select,
input {
  padding: 2px 5px;
  background-color: var(--input-color);
  border-radius: 12px;
  box-shadow: 2px 2px 0px var(--shadow-color-unhover);
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--border-color-unhover);
}
select:hover, input:hover {
  box-shadow: 2px 2px 15px var(--shadow-color);
  border: 1px solid var(--border-color);
}
input[type="text"] {
  width: 40vw;
  min-width: 450px;
  max-width: 90vw;
  padding: 5px;
  font-size: 12px;
}

input[type="checkbox"] {
  margin: 5px;
}
form > * {
  user-select: none;
}
label {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background: #222;
    --input-color: #333;
    --text-color: #fff;
    --shadow-color: #bfbfbf55;
    --borderline-color: #aaa;
    --border-color: #666e;
    --backgroundcolor: #4448;
    --input-color-unhover: #fff1;
  }
}
