* {
  position: relative;
  color: #000;
  margin: 0;
  outline: none;
}
body {
  margin: 10px 20px;
  margin-top: 60px;
  width: auto;
  height: auto;
  background-color: #efefef;
}
b {
  font-size: 1.1rem;
}
h1::before {
  display: none;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 30px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9990;
  backdrop-filter: blur(10px);
  padding: 10px;
  padding-left: 20px;
}

main > * {
  display: block;
}

#ui a img {
  width: 20vw;
  min-width: 300px;
  border: 1px solid #8880;
  border-radius: 20px;
  transition: all .4s ease-in-out;
}
#ui a.selected img {
  border: 1px solid #888;
  box-shadow: 0 0 15px #bfbfbf55;
}

#engine > select {
  width: 160px;
}
select, input {
  padding: 2px 5px;
  background-color: #0001;
  border-radius: 12px;
  box-shadow: 2px 2px 0px #ddd0;
  transition: all 0.2s ease-in-out;
  border: 2px solid #0000;
}
select:hover, input:hover {
  border: 2px solid #0001;
  box-shadow: 2px 2px 15px #ddd;
}
input[type="text"] {
  width: 40vw;
  min-width: 450px;
  max-width: 90vw;
  padding: 5px;
  font-size: 12px;
}

input[type="checkbox"] {
  margin: 5px;
}
form > * {
  user-select: none;
}
label {
  display: block;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #202020;
  }
  * {
    color: #eee;
  }

  select, input {
    background-color: #fff1;
  }
  select:hover, input:hover {
    border: 2px solid #444;
    box-shadow: 2px 2px 15px #333;
  }
  option {
    color: #eee;
    background-color: #222;
    padding: 0;
  }
}
