main {
  border-bottom: 0px solid #fff;
  height: 100vh;
}
main > div {
  margin-bottom: 0!important;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 5px;
  backdrop-filter: blur(15px);
  z-index: 9990;
  background-color: #fff5;
}
header h3 {
  z-index: +1;
}

#histories,
#bookmarks {
  margin-top: 40px;
}

#histories > div ,
#bookmarks > div {
  background-color: #8888883f;
  padding: 5px;
  margin-top: 5px;
  border-radius: 7px;
  box-shadow: 5px 5px 5px #bbb3;
  height: 50px;
  display: flex;
}

.history-favicon,
.bookmark-favicon {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 2px 2px 5px #5554;
}

.history-details,
.bookmark-details {
  width: 100%;
  height: 100%;
  padding-left: 15px;
}

#bookmarks > div {
  height: 25px;
}
.bookmark-details {
  padding-left: 4px;
}
