main {
  border-bottom: 0px solid #fff;
  height: calc(100vh - 13px);
  overflow: auto;
  z-index: 0;
}
main > div {
  margin-bottom: 0!important;
}
.history-details > p,
.bookmark-details > p {
  font-size: 13px;
  width: 100%;
  overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 5px;
  backdrop-filter: blur(15px);
  z-index: 9990;
  background-color: #fff5;
}
header h3 {
  z-index: +1;
}

#histories,
#bookmarks {
  margin-top: 40px;
}

#histories > div ,
#bookmarks > div {
  background-color: #8888883f;
  padding: 5px;
  margin-top: 5px;
  border-radius: 7px;
  box-shadow: 5px 5px 5px #bfbfbf00;
  height: 25px;
  display: flex;
  width: calc(100% - 10px);
  overflow: hidden;
}
#histories > a:not(.one-history) {
  font-size: 13px;
}

.history-favicon,
.bookmark-favicon {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 2px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.history-details,
.bookmark-details {
  width: calc(100% - 20px);
  height: 100%;
  padding-top: 2px;
  padding-left: 5px;
}

.bookmark-details {
  padding-left: 4px;
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: #0006;
    color: #fff;
  }
  #histories > div,
  #bookmarks > div {
    background-color: #fff1;
    box-shadow: 5px 5px 5px #9990;
  }
}