@import url('../../../proprietary/style/font.css');
:root {
  --main-background: #efefef;
  --text-color: #000;
  --shadow-color: #bfbfbf99;
  --shadow-color-unhover: #0000;
  --borderline-color: #bbb8;
  --border-color: #ddde;
}


* {
  margin: 0;
  user-select: none;
  -webkit-user-drag: none;
  color: var(--text-color);
}

h3 {
  font-weight: 400;
}

hr {
  border: 0;
  border-top: 1px solid var(--borderline-color);
  height: 0;
  margin: 0;
}

#toggle {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #0003;
}
main {
  overflow: hidden;
  position: absolute;
  background-color: var(--main-background);
  right: 15px;
  top: 30px;
  padding: 7px 10px;
  border: 1px solid var(--border-color);
  box-shadow: 5px 5px 10px var(--shadow-color);
  width: 250px;
  z-index: +1;
  max-height: calc(100vh - 55px);
}
#index {
  border-radius: 13px;
  height: 500px;
}
a {
  color: inherit;
  text-decoration: none;
  display: block;
}
main > *:not(#menu-last) {
  margin-bottom: 5px;
}

#contents > * {
  display: none;
}
#contents > *.displaying {
  display: block;
}

#iframe {
  position: absolute;
  top: 0;
  left: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  transition: all .6s cubic-bezier(.75,0,.25,1);
  box-shadow: 0 0 0px var(--shadow-color-unhover);
  border: none;
}
#iframe.displaying {
  left: 0;
  box-shadow: 0 0 15px var(--shadow-color);
}
#iframe > iframe {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#prev {
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 16px;
  background-image: url('../../../image/go.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  aspect-ratio: 1/1;
  transform: rotate(180deg);
}


@media (prefers-color-scheme: dark) {
  :root {
    --main-background: #222;
    --text-color: #fff;
    --shadow-color: #bfbfbf55;
    --borderline-color: #6668;
    --border-color: #666e;
  }
}
