:root {
  --main-background: #efefef;
  --text-color: #000;
  --shadow-color: #bfbfbf55;
  --shadow-color-unhover: #0000;
  --backgroundcolor: #eee8;
  --border-color: #ddd8;
  --backgroundcolor-unhover: #efefef00;
  --border-color-unhover: #ddd0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-background: #222;
    --text-color: #fff;
    --shadow-color: #bfbfbf55;
    --shadow-color-unhover: #0000;
    --backgroundcolor: #8884;
    --border-color: #666;
  }
}

body {
  position: relative;
  padding: 0;
  margin: 4px;
}
* {
  transition: all .3s ease-in-out;
  color: var(--text-color);
}
main {
  position: absolute;
  width: calc(100% - 20px);
  aspect-ratio: 3/1;
  max-height: 300px;
  background-color: var(--main-background);
  box-shadow: 5px 5px 15px var(--shadow-color);
  border-radius: 20px;
  border: 1px solid var(--border-color);
}

div {
  margin: 5px;
  border-radius: 13px;
  padding: 2px 4px;
  background-color: var(--backgroundcolor-unhover);
  border: 1px solid var(--border-color-unhover);
  box-shadow: 5px 5px 10px var(--shadow-color-unhover);
  font-size: 15px;
}

div:hover,
div#selected {
  background-color: var(--backgroundcolor);
  border: 1px solid var(--border-color);
  box-shadow: 2px 2px 5px var(--shadow-color);
}
