body {
  position: relative;
  padding: 0;
  margin: 4px;
}
* {
  transition: all .3s ease-in-out;
}
main {
  position: absolute;
  width: 80%;
  aspect-ratio: 3/1;
  max-height: 300px;
  background-color: #efefef;
  box-shadow: 5px 5px 15px #bfbfbf66;
  border-radius: 20px;
  border: 1px solid #ddd;
}

div {
  margin: 5px;
  border-radius: 14px;
  padding: 5px;
  background-color: #ccc0;
  border: 1px solid #ddd0;
  box-shadow: 5px 5px 10px #bfbfbf00;
}

div:hover,
div#selected {
  background-color: #ccc4;
  border: 1px solid #bbb4;
  box-shadow: 2px 2px 5px #bfbfbf44;
}

@media (prefers-color-scheme: dark) {
  * {
    color: #fff;
  }
  main {
    background-color: #222;
    border: 1px solid #666;
  }
  div:hover,
  div#selected {
    background-color: #8884;
    border: 1px solid #666;
  }
}