*{
  position: relative;
  outline: none;
  margin: 0; padding: 0;
}

body{
  background-color: #efefef;
  color: #555;
}

h1{
  display: inline-block;
}
h5{
  font-size: 15px;
  display: inline;
}
h1::before{
  content: '';
  display: inline-block;
  width: 65px; height: 65px;
  background-image: url('../../image/logo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 10px;
}

body{
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}
body>div:nth-child(1){
  position: absolute;
  display: inline-block;
  height: auto; width: auto;
  text-align: center;
  top: 50%; left: 50%;
  transform : translate(-50%,-50%);
}
div>div:nth-child(1) *{
  vertical-align: middle;
  box-shadow: 2px 2px 5px #bfbfbf99;
}
div input{
  position: relative;
  display: inline-block;
  width: 50vw;
  height: 40px;
  border: 0;
  border-radius: 10px;
  padding-left: 10px; padding-right: 45px;
  font-size: 17px;
  margin: 0; top: 0;
  box-shadow: 0 0 0 #0000;
  background-color: #0000;
  border: 0.5px solid #ddd;
  transition: all 0.2s ease-in-out;
}
div:nth-child(1) a{
  position: absolute;
  display: inline-block;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background-image: url('../../image/search.png');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}
div:nth-child(1)>div *:hover{
  box-shadow: 1px 1px 5px #bfbfbf99;
  background-color: #f0f0f0;
}
div:nth-child(1) input:focus{
  box-shadow: 1px 1px 5px #bfbfbf99;
  background-color: #fff0;
}
div:nth-child(1) a:focus{
  background-color: #fff0;
  box-shadow: 0 0 0 #0000;
}
p{
  font-size: 10px;
}
p>a{
  display: inline;
  position: relative;
  background: none;
  box-shadow: none;
  color: #aaa;
  text-decoration: none;
}

hr{
  border: 0.1px solid #6669;
}
