*{
  position: relative;
  top: 0;
  margin: 0; padding: 0;
  border: none; outline: none;
  color: #000; text-decoration: none;
  z-index: 100;
}
script, style{
  display: none!important;
  width: 0; height: 0;
}

body{
  background-color: #efefef;
  -webkit-app-region: drag;
  user-select: none;
  padding-bottom: 0;
  margin: 1.5px;
  margin-bottom: 0;
  height: auto;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

nav{
  display: flex;
  position: relative;
  height: auto;
  width: 100%;
  backdrop-filter: blur(20px);
}

body nav *{
  -webkit-user-select: auto;
  -webkit-app-region: none;
  box-shadow: 0 0 0 #0000;
  position: relative;
  top: 0;
  display: inline-block;
  border-radius: 10px;
  height: 24px;
  aspect-ratio: 1/1;
  margin: 4px 2px 5px;
  background-color: #ccc0;
  transition: all 0.2s ease-in-out;
  border: 1px solid #ddd0;
}
body input{
  width: 100%;
  padding: 0 7.5px;
  font-size: 11px;
  background-color: #fff3;
}
body nav *:hover{
  box-shadow: 1px 1px 5px #bfbfbf55;
  background-color: #eee;
  border: 1px solid #ddde;
}
body nav a:first-child{
  margin-left: 30px;
}
body nav a:last-child{
  margin-right: 4px;
}
nav a{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 65%;
  cursor: default;
}
nav a:active{
  background-color: #fff0;
  box-shadow: 0 0 0 #0000;
}
nav a:nth-child(1){
  background-image: url('../image/home.png');
}
nav a:nth-child(2){
  background-image: url('../image/reload.png');
}
nav a:nth-child(3){
  background-image: url('../image/back.png');
}
nav a:nth-child(4){
  background-image: url('../image/prev.png');
}
nav a:nth-child(6){
  background-image: url('../image/go.png');
}
nav a:nth-child(7){
  background-image: url('../image/hide.png');
}
nav a:nth-child(8){
  background-image: url('../image/maximize.png');
}
nav a:nth-child(9){
  background-image: url('../image/close.png');
}

yomikomi-bar{
  display: block;
  position: absolute;
  top: -1px;
  bottom: 0;
  left: -9px;
  width: 0;
  height: calc(100% + 1px);
  background: #ddd;
  z-index: 0;
  transition: all 0.2s ease-in-out;
  border-radius: 0 5px 0 0;
}
yomikomi-bar#loading{
  width: 30vw;
  opacity: 1;
}
yomikomi-bar#loaded{
  width: 95vw;
}
yomikomi-bar#frame-finished{
  width: 100vw;
  opacity: 0;
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: #202020;
    border-bottom: 1px solid #333;
  }
  yomikomi-bar{
    background-color: #444;
  }
  body input{
    background-color: #fff1;
    color: #fff;
  }
  body nav *:hover, body input:focus{
    box-shadow: 1px 1px 5px #bfbfbf55;
    background-color: #444;
    border: 1px solid #666e;
  }
  nav a:nth-child(1){
    background-image: url('../image/home-white.png');
  }
  nav a:nth-child(2){
    background-image: url('../image/reload-white.png');
  }
  nav a:nth-child(3){
    background-image: url('../image/back-white.png');
  }
  nav a:nth-child(4){
    background-image: url('../image/prev-white.png');
  }
  nav a:nth-child(6){
    background-image: url('../image/go-white.png');
  }
  nav a:nth-child(7){
    background-image: url('../image/hide-white.png');
  }
  nav a:nth-child(8){
    background-image: url('../image/maximize-white.png');
  }
  nav a:nth-child(9){
    background-image: url('../image/close-white.png');
  }
}
