*{
  position: relative;
  top: 0;
  margin: 0; padding: 0;
  border: none; outline: none;
  color: #000; text-decoration: none;
}
script, style{
  display: none!important;
  width: 0; height: 0;
}
body{
  background-color: #efefef;
  -webkit-app-region: drag;
  user-select: none;
  padding: 2px;
  padding-bottom: 0;
  margin-top: 1.5px;
  margin-left: 1.5px;
  height: 45px;
  width: calc(100% - 7px);
  margin-top: 5px;
  overflow: hidden;
}
body::before{
  content: '';
  display: block;
  position: fixed;
  top: 47.4px; left: 0; right: 0;
  height: 1px; width: 100%;
  background-color: #ddd;
}

nav{
  display: block;
  position: relative;
  height: 40px;
}

body nav *{
  box-shadow: 0 0 0 #0000;
  position: relative;
  display: inline-block;
  top: -.5px;
  -webkit-user-select: auto;
  -webkit-app-region: none;
  border-radius: 10px;
  height: 27px;
  width: 27px;
  margin: 2.55px;
  background-color: #ccc0;
  border: 0.5px solid #ddd;
  transition: all 0.3s ease-in-out;
}
body nav *:hover{
  box-shadow: 1px 1px 5px #bfbfbf99;
  background-color: #f0f0f0;
}
body nav a:first-child{
  margin-left: 40px;
}
body input{
  top: -11.6px;
  width: calc(100% - calc(47px * 8) + 10px);
  margin-left: 5px; margin-right: 5px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  font-size: 12.5px;
}
body input:focus{
  box-shadow: 1px 1px 5px #bfbfbf99;
  background-color: #fff0;
}
nav a{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 65%;
  cursor: default;
}
nav a:active{
  background-color: #fff0;
  box-shadow: 0 0 0 #0000;
}
nav a:nth-child(1){
  background-image: url('../image/home.png');
}
nav a:nth-child(2){
  background-image: url('../image/reload.png');
}
nav a:nth-child(3){
  background-image: url('../image/back.png');
}
nav a:nth-child(4){
  background-image: url('../image/prev.png');
}
nav a:nth-child(6){
  background-image: url('../image/go.png');
}
nav a:nth-child(7){
  background-image: url('../image/hide.png');
}
nav a:nth-child(8){
  background-image: url('../image/maximize.png');
}
nav a:nth-child(9){
  background-image: url('../image/close.png');
}

yomikomi-bar{
  display: block;
  position: relative;
  top: -2px;
  bottom: 0; left: -9px;
  width: 0;
  height: 2.4px;
  background-color: #bbb;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
yomikomi-bar#loading{
  width: 30vw;
  opacity: 1;
}
yomikomi-bar#loaded{
  width: 98vw;
}
yomikomi-bar#frame-finished{
  width: 100vw;
  opacity: 0;
}
