body {
  position: relative;
  user-select: none;
  margin: 2px;
  margin-top: 0;
  padding: 0;
  width: calc(100% - 4px);
  height: calc(100vh + 50px);
  overflow: hidden;
}
body > a:hover {
  background-color: var(--backgroundcolor);
}
body > a:active {
  background-color: var(--main-background);
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#left {
  width: 30%;
  height: 100%;
}
#height {
  width: 70%;
  height: 100%;
}
main * {
  text-shadow: 0 0 7px var(--text-color);
}
#clock {
  top: 50%;
  font-size: 35px;
  transform: translateY(-50%);
  text-align: center;
}

#bookmarks {
  transition: none;
  top: 50%;
  transform: translateY(-50%);
}
#bookmarks > p {
  text-align: center
}
#bookmarks-content {
  display: flex;
  margin-top: 10px;
  width: inherit;
  flex-direction: column;
}
.one-bookmark {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 50px;
  box-sizing: border-box;
  text-overflow: hidden;
  background-color: var(--main-background);
  border-radius: 15px;
  transition: all  .5s ease-in-out;
  border: 1px solid var(--border-color);
}
.one-bookmark p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.one-bookmark :is(p, div) {
  margin: auto 0;
}
.one-bookmark:hover {
  background-color: var(--backgroundcolor);
}
.one-bookmark > .one-image {
  aspect-ratio: 1/1;
  height: 100%;
  box-shadow: none;
  padding: 5px;
  box-sizing: inherit;
  border-radius: 10px;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
.one-bookmark > .one-title {
  box-shadow: none;
  font-size: 15px;
  position: relative;
  top: -3px;
  padding: 5px;
  box-sizing: inherit;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: 25px;
  font-size: 12px;
}

@media (prefers-color-scheme: dark) {
  #bookmarks > a {
    color: var(--text-color);
  }
  #bookmarks > p > a::before {
    background-image: url('../../image/back-white.png');
  }
}
