:root {
  --main-background: #efefef;
  --text-color: #000;

  --browsername-color: #444;
  --shadow-color: #bfbfbf99;
  --shadow-color-unhover: #0000;
  --border-color: #ddde;
  --border-color-unhover: #4440;
  --backgroundcolor: #eee9;
  --input-color-unhover: #bbb3;
  --input-color: #efefef;

  --wallpaper: none;
}

* {
  position: relative;
  outline: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: var(--wallpaper);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

body {
  background-color: var(--main-background);
  color: var(--browsername-color);
  font-weight: 100;
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}

h1 {
  display: inline-block;
}
h5 {
  font-size: 15px;
  display: inline;
  margin-left: 10px;
}

h1::before {
  content: '';
  display: inline-block;
  width: 65px; height: 65px;
  background-image: url('../../image/logo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 10px;
}
body > div:nth-child(1) {
  position: absolute;
  display: inline-block;
  height: auto;
  width: auto;
  text-align: center;
  top: 50vh;
  left: 50vw;
  transform : translate(-50%, -50%);
}
div > div:nth-child(1) * {
  vertical-align: middle;
}
div input {
  position: relative;
  display: inline-block;
  width: 50vw;
  height: 40px;
  border: 0;
  border-radius: 15px;
  padding: 0 35px 0 10px;
  font-size: 17px;
  margin: 0; top: 0;
  color: var(--text-color);
  border: 1px solid var(--border-color-unhover);
  transition: all 0.2s ease-in-out;
  background-color: var(--input-color-unhover);
  box-sizing: border-box;
}
div:nth-child(1) button {
  position: absolute;
  display: inline-block;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 13px;
  background-image: url('../../image/search.png');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--border-color-unhover);
  background-color: var(--backgroundcolor-unhover);
}
div:nth-child(1) > div button:hover {
  background-color: var(--backgroundcolor);
}
input:is(:hover, :focus) {
  border: 1px solid var(--border-color);
  background-color: var(--backgroundcolor);
}
p {
  font-size: 10px;
}
p > a {
  display: inline;
  position: relative;
  background: none;
  color: var(--text-color);
  text-decoration: none;
}

hr {
  border: 0.1px solid #6669;
}

@media(prefers-color-scheme: dark) {
  :root {
    --main-background: #222;
    --text-color: #fff;
    --browsername-color: #ccc;
    --shadow-color: #bfbfbf99;
    --shadow-color-unhover: #0000;
    --border-color-unhover: #4440;
    --border-color: #6668;
    --backgroundcolor: #4448;
    --input-color-unhover: #fff1;
  }
  div:nth-child(1) button {
    background-image: url('../../image/search-white.png');
  }
}